<extend name="public/back" />
<block name="siderbarmenu">
<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li class="start">
        <a href="{:U('Profile/index');}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="title">My Profile</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="title">Customer Managerment</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('Customer/customerlist');}">
                    Customers List
                </a>
            </li>
            <li>
                <a href="{:U('Customer/customeradd');}">
                    Add Customers</a>
            </li>
        </ul>
    </li>
     <li class="">
        <a href="{:U('Order/orderlist');}">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span class="title">Order Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li class="">
        <a href="{:U('Transaction/translist');}">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span class="title">Transaction Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li >
        <a href="{:U('Domain/domainlist');}">
            <i class="fa fa-database" aria-hidden="true"></i>
            <span class="title">Domains Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li >
        <a href="javascript:;">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <span class="title">Support</span>
            <span class="arrow "></span>
        </a>
        <!--
        <ul class="sub-menu">
            <li>
                <a href="{:U('Domain/domainlist');}">
                    Domain List
                </a>
            </li>
			<li>
                <a href="{:U('Domain/premiumlist');}">
                    Premium List
                </a>
            </li>
        </ul>
        -->
    </li>
    <li >
        <a href="javascript:;">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <span class="title">Report</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a> Monthly Active TLDs</a>
            </li>
			<li>
                 <a> Active Accounts Per TLDs</a>
            </li>
            <li>
                 <a> New Customer</a>
            </li>
            <li>
                 <a> Monthly Transactions</a>
            </li>
        </ul>
    </li>
    <li class="active">
        <a class="active" href="javascript:;">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="title">Configuration</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="javascript:;">
                    General
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/general_web');}">Web Setting</a></li>
                    <li><a href="{:U('Configure/general_language');}">Language</a></li>
                    <li><a href="{:U('Configure/general_domain');}">Domains</a></li>
                    <li><a href="{:U('Configure/general_mail');}">Mail</a></li>
                    <li><a href="{:U('Configure/general_credit');}">Credit</a></li>
                </ul>
            </li>
            <li>
                <a href="{:U('Configure/security');}">
                     Security
                </a>
            </li>
            <li>
                <a href="#">
                    Email Template
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Administrators
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/adminlist');}">Users Managerment</a></li>
                    <li><a href="{:U('Configure/adminrolelist');}">Roles Managerment</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    Domain Price
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/pricesetting');}">Price setting</a></li>
                    <li><a href="{:U('Configure/pricetools');}">Tools Managerment</a></li>
                    <li><a href="{:U('Configure/premiumlist');}">Premium Managerment</a></li>
                </ul>
            </li>
            <li class="active">
                <a href="javascript:;">
                    Payment
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/paymentlist');}">Payment method</a></li>
                    <li><a href="{:U('Configure/currencies');}">Currencies</a></li>
                    <li><a href="{:U('Configure/taxrules');}">Tax Rules</a></li>
                    <li class="active"><a href="{:U('Configure/promotion');}">Promotion</a></li>
                </ul>
            </li>
            <li>
                <a href="{:U('Configure/domainregistrar');}">
                    <span class="title">Domain Registrar</span>
                </a>
            </li>
        </ul>
    </li>
    </ul>
</div>
</block>
<block name="container">
<!-- BEGIN PAGE -->
<div class="page-content">
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here will be a configuration form</p>
    </div>
</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Configuration
            <small> Configuration</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="{:U('Profile/index');}">Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li>
                <a href="#">Configuration</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
			<li>
				<a href="{:U('Configure/promotion');}">Promotion</a>
			</li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">

		<!--BEGIN TABS-->
<div class="tabbable tabbable-custom tabbable-full-width">
<ul class="nav nav-tabs">
	<li class="active"><a href="#tab_1_1" data-toggle="tab">List all promotion</a></li>
	<li><a href="#tab_1_2" data-toggle="tab">Add new promotion</a></li>
</ul>
<div class="tab-content">

<!--end tab-pane-->
<div class="tab-pane row-fluid active" id="tab_1_1">
    <div class="span12">
    <table class="table table-striped table-hover">
	   <thead>
		<tr>
			<th>ID</th>
			<th>Promotion Code</th>
            <th>Type</th>
			<th>Value</th>
			<th>Start Date</th>
			<th>Expiry Date</th>
		</tr>
	   </thead>
	   <tbody>
		  <tr>
			<td>1</td>
			<td>10001</td>
            <td>Percentage</td>
			<td>10</td>
			<td>2016/10/11</td>
			<td>2017/10/11</td>
		  </tr>
		  <tr>
			<td>1</td>
			<td>10002</td>
            <td>Free Setup</td>
			<td>9</td>
			<td>2016/12/12</td>
			<td>2017/12/12</td>
		  </tr>
	   </tbody>
	</table>
    </div>
    
</div>
<!--tab_1_2-->
<div class="tab-pane" id="tab_1_2">
	<div style="height: auto;" id="accordion1-1" class="accordion collapse">
        <div class="span12">
            <h4><i class="fa fa-cog" aria-hidden="true"></i> Add new Pomotion</h4>
            <div class="span4">
                <form role="form" action="" method="post">  
					<label class="control-label">Promotion code</label>
                    <input name="promotionCode" type="text" placeholder="Promotion code" value="" class="m-wrap span8" required/>
					<label class="control-label">Type</label>
					<select class="form-control" name="type" required>
						<option value="1">Percentage</option>
						<option value="2" >Fixed Account</option> 
						<option value="3" >Free Setup</option> 
					</select>  
					<label class="control-label">Value</label>
                    <input name="value" type="text" placeholder="value" value="" class="m-wrap span8" required/>
                    <label class="control-label">Appley to the service</label>
					<select class="form-control" name="level" required>
						<option value="1">Domain Registration</option>
						<option value="2" >Domain Renewal</option> 
						<option value="2" >Domain Transfer</option> 
					</select>  
					<label class="control-label">Require to domain (TLDs)</label>
                    <input name="name" type="text" placeholder="Require to domain (TLDs)" value="" class="m-wrap span8" required/>
					<label class="control-label">Years</label>
                    <input name="name" type="text" placeholder="Years 1-10" value="" class="m-wrap span8" required/>
					
					<label class="control-label">Apply Once per client</label>
					<a href="" class="btn red mini active">Enable</a>
					<a href="" class="btn red mini">Disable</a>
					<label class="control-label">New Client</label>
					<a href="" class="btn red mini active">Enable</a>
					<a href="" class="btn red mini">Disable</a>
					
					<label class="control-label">Maximum</label>
                    <input name="name" type="text" placeholder="Maximum" value="" class="m-wrap span8" required/>
					<label class="control-label">Start Date</label>
                    <input name="name" type="text" placeholder="Start Date" value="" class="m-wrap span8" required/>
					<label class="control-label">Expiry Date</label>
                    <input name="name" type="text" placeholder="Expiry Date" value="" class="m-wrap span8" required/>
                    <div class="submit-btn">
                        <button type="submit" class="btn green">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>       
    </div>
</div>
<!-- tab_1_3 -->


<!-- tab_1_3 -->
<!--end tab-pane-->
<!--end tab-pane-->

<!--end tab-pane-->
</div>
</div>
<!--END TABS-->
		
		
		
		
		
    </div>
</div>
<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
</block>
<block name="bottomjs">
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/validator.min.js"></script>
    <script>
        jQuery(document).ready(function () {

        // initiate layout and plugins

        App.init();

    });
        
    </script>
</block>
