<extend name="public/back" />
<block name="siderbarmenu">
<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li class="start active ">
        <a href="{:U('Profile/index');}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="title">My Profile</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="title">Workers Managerment</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('Worker/workerlist');}">
                    Workers List
                </a>
            </li>
            <li>
                <a href="{:U('Worker/workeradd');}">
                    Add New One
                </a>
            </li>
        </ul>
    </li>
     <li class="">
        <a href="javascript:;">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span class="title">Order Managerment</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('Order/orderlist?flag=no');}">
                    Incomplete orders
                </a>
            </li>
            <li>
                <a href="{:U('Worker/workeradd');}">
                    Completed orders
                </a>
            </li>
            <li>
                <a href="{:U('Worker/workeradd');}">
                    All orders
                </a>
            </li>
            <li>
                <a href="{:U('Order/orderaddpage');}">
                    Add a new order
                </a>
            </li>
        </ul>
    </li>
    <li class="">
        <a href="{:U('Transaction/translist');}">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span class="title">Transaction Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li >
        <a href="{:U('Domain/domainlist');}">
            <i class="fa fa-database" aria-hidden="true"></i>
            <span class="title">Domains Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li >
        <a href="javascript:;">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <span class="title">Support</span>
            <span class="arrow "></span>
        </a>
        <!--
        <ul class="sub-menu">
            <li>
                <a href="{:U('Domain/domainlist');}">
                    Domain List
                </a>
            </li>
			<li>
                <a href="{:U('Domain/premiumlist');}">
                    Premium List
                </a>
            </li>
        </ul>
        -->
    </li>
    <li >
        <a href="javascript:;">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <span class="title">Report</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a> Monthly Active TLDs</a>
            </li>
			<li>
                 <a> Active Accounts Per TLDs</a>
            </li>
            <li>
                 <a> New Customer</a>
            </li>
            <li>
                 <a> Monthly Transactions</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="active" href="javascript:;">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="title">Configuration</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="javascript:;">
                    General
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/general_web');}">Web Setting</a></li>
                    <li><a href="{:U('Configure/general_language');}">Language</a></li>
                    <li><a href="{:U('Configure/general_domain');}">Domains</a></li>
                    <li><a href="{:U('Configure/general_mail');}">Mail</a></li>
                    <li><a href="{:U('Configure/general_credit');}">Credit</a></li>
                </ul>
            </li>
            <li>
                <a href="{:U('Configure/security');}">
                     Security
                </a>
            </li>
            <li>
                <a href="#">
                    Email Template
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Administrators
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/adminlist');}">Users Managerment</a></li>
                    <li><a href="{:U('Configure/adminrolelist');}">Roles Managerment</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    Domain Price
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/pricesetting');}">Price setting</a></li>
                    <li><a href="{:U('Configure/pricetools');}">Tools Managerment</a></li>
                    <li><a href="{:U('Configure/premiumlist');}">Premium Managerment</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    Payment
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/paymentlist');}">Payment method</a></li>
                    <li><a href="{:U('Configure/currencies');}">Currencies</a></li>
                    <li><a href="{:U('Configure/taxrules');}">Tax Rules</a></li>
                    <li><a href="{:U('Configure/promotion');}">Promotion</a></li>
                </ul>
            </li>
            <li>
                <a href="{:U('Configure/domainregistrar');}">
                    <span class="title">Domain Registrar</span>
                </a>
            </li>
        </ul>
    </li>
    </ul>
</div>
</block>
<block name="container">
    <div class="page-content">
    <!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <div id="portlet-config" class="modal hide">
        <div class="modal-header">
            <button data-dismiss="modal" class="close" type="button"></button>
            <h3>Widget Settings</h3>
        </div>
        <div class="modal-body">
            Widget settings form goes here
        </div>
    </div>
    <!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
    <!-- BEGIN PAGE CONTAINER-->
    <div class="container-fluid">
    <!-- BEGIN PAGE HEADER-->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN STYLE CUSTOMIZER -->
            <!-- END BEGIN STYLE CUSTOMIZER -->
            <!-- BEGIN PAGE TITLE & BREADCRUMB-->
            <h3 class="page-title">
                Welcome to JHCL Admin Page
            </h3>
            <ul class="breadcrumb">
                <li>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="{:U('Profile/index');}">Home</a>
                    <i class="fa fa-angle-right" aria-hidden="true"></i>
                </li>
                <li><a href="#">Welcome</a></li>
                <li class="pull-right no-text-shadow">
                    <div id="dashboard-report-range"
                         class="dashboard-date-range tooltips no-tooltip-on-touch-device responsive" data-tablet=""
                         data-desktop="tooltips" data-placement="top" data-original-title="Change dashboard date range">
                        <i class="icon-calendar"></i>
                        <span></span>
                        <i class="icon-angle-down"></i>
                    </div>
                </li>
            </ul>
            <!-- END PAGE TITLE & BREADCRUMB-->
        </div>
    </div>
    <!-- END PAGE HEADER-->
    <div id="dashboard">
    <!-- BEGIN DASHBOARD STATS -->
    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN ALERTS PORTLET-->
            <div class="portlet ">
                <div class="portlet-title">
                    <div class="caption"><i class="icon-cogs"></i>Dear {$username}</div>
                    
                </div>
                <div class="portlet-body">
                    <div class="alert alert-error">
                        <strong>Now time is</strong> {$nowtime}
                    </div>
                    <div class="alert alert-error">
                        <strong>Your role : </strong> {$role}
                    </div>
                    <div class="alert alert-error">
                        <strong>Your Authority : </strong> {$description}
                    </div>
                </div>
            </div>
            <!-- END ALERTS PORTLET-->
        </div>
        
    </div>
    <!-- END DASHBOARD STATS -->
    
    </div>
    </div>
    <!-- END PAGE CONTAINER-->
    </div>
</block>
<block name="bottomjs">
    <script src="__PUBLIC__/metronic/media/js/index.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script>
        jQuery(document).ready(function () {
            App.init(); // initlayout and core plugins
            Index.init();
            Index.initJQVMAP(); // init index page's custom scripts
            Index.initCalendar(); // init index page's custom scripts
            Index.initCharts(); // init index page's custom scripts
            Index.initChat();
            Index.initMiniCharts();
            Index.initDashboardDaterange();
            Index.initIntro();
        });
    </script>
</block>