<extend name="public/back" />
<block name="siderbarmenu">
<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li class="start">
        <a href="{:U('Profile/index');}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="title">My Profile</span>
            <span class="selected"></span>
        </a>
    </li>
    <li>
        <a href="javascript:;">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="title">Customer Managerment</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('Customer/customerlist');}">
                    Customers List
                </a>
            </li>
            <li >
                <a href="{:U('Customer/customeradd');}">
                    Add Customers</a>
            </li>
        </ul>
    </li>
     <li class="active">
        <a href="{:U('Order/orderlist');}">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span class="title">Order Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li class="">
        <a href="{:U('Transaction/translist');}">
            <i class="fa fa-cogs" aria-hidden="true"></i>
            <span class="title">Transaction Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li >
        <a href="{:U('Domain/domainlist');}">
            <i class="fa fa-database" aria-hidden="true"></i>
            <span class="title">Domains Managerment</span>
            <span class="arrow "></span>
        </a>
    </li>
    <li >
        <a href="javascript:;">
            <i class="fa fa-handshake-o" aria-hidden="true"></i>
            <span class="title">Support</span>
            <span class="arrow "></span>
        </a>
        <!--
        <ul class="sub-menu">
            <li>
                <a href="{:U('Domain/domainlist');}">
                    Domain List
                </a>
            </li>
			<li>
                <a href="{:U('Domain/premiumlist');}">
                    Premium List
                </a>
            </li>
        </ul>
        -->
    </li>
    <li >
        <a href="javascript:;">
            <i class="fa fa-clipboard" aria-hidden="true"></i>
            <span class="title">Report</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a> Monthly Active TLDs</a>
            </li>
			<li>
                 <a> Active Accounts Per TLDs</a>
            </li>
            <li>
                 <a> New Customer</a>
            </li>
            <li>
                 <a> Monthly Transactions</a>
            </li>
        </ul>
    </li>
    <li>
        <a class="active" href="javascript:;">
            <i class="fa fa-cog" aria-hidden="true"></i>
            <span class="title">Configuration</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="javascript:;">
                    General
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/general_web');}">Web Setting</a></li>
                    <li><a href="{:U('Configure/general_language');}">Language</a></li>
                    <li><a href="{:U('Configure/general_domain');}">Domains</a></li>
                    <li><a href="{:U('Configure/general_mail');}">Mail</a></li>
                    <li><a href="{:U('Configure/general_credit');}">Credit</a></li>
                </ul>
            </li>
            <li>
                <a href="{:U('Configure/security');}">
                     Security
                </a>
            </li>
            <li>
                <a href="#">
                    Email Template
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    Administrators
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/adminlist');}">Users Managerment</a></li>
                    <li><a href="{:U('Configure/adminrolelist');}">Roles Managerment</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    Domain Price
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/pricesetting');}">Price setting</a></li>
                    <li><a href="{:U('Configure/pricetools');}">Tools Managerment</a></li>
                    <li><a href="{:U('Configure/premiumlist');}">Premium Managerment</a></li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    Payment
                    <span class="arrow"></span>
                </a>
                <ul class="sub-menu">
                    <li><a href="{:U('Configure/paymentlist');}">Payment method</a></li>
                    <li><a href="{:U('Configure/currencies');}">Currencies</a></li>
                    <li><a href="{:U('Configure/taxrules');}">Tax Rules</a></li>
                    <li><a href="{:U('Configure/promotion');}">Promotion</a></li>
                </ul>
            </li>
            <li>
                <a href="{:U('Configure/domainregistrar');}">
                    <span class="title">Domain Registrar</span>
                </a>
            </li>
        </ul>
    </li>
    </ul>
</div>
</block>
<block name="container">
<!-- BEGIN PAGE -->
<div class="page-content">
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here will be a configuration form</p>
    </div>
</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            Customer Managerment
            <small> Customer Managerment</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="{:U('Profile/index');}"> Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li>
                <a href="#"> Order Managerment</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li><a href="{:U('Order/orderlist');}"> Order List</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
			<li><a href="{:U('Order/orderdetail?orderid='.$orderid.'');}"> Order Detail</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">

		<!--BEGIN TABS-->
<div class="tabbable tabbable-custom tabbable-full-width">
<ul class="nav nav-tabs">
    
    <li class="active"><a href="#tab_1_1" data-toggle="tab">Order Detail</a></li>
	<if condition="$order.status eq 'pending'">
        <li><a href="#tab_1_2" data-toggle="tab">Edit Order</a></li>
        <li><a href="#tab_1_3" data-toggle="tab">Add Order</a></li>
    </if>
</ul>
<div class="tab-content">

<!--end tab-pane-->
<div class="tab-pane row-fluid active" id="tab_1_1">
    <div class="span12">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="icon-coffee"></i>Order</div>
            </div>
            <div class="portlet-body">
                <div class="span12">
                    <div class="span4">
                        <h5><strong>OrderID: </strong>{$order.orderID}</h5>
                        <h5><strong>Issue date: </strong>{$order.issuedate}</h5>
                        <h5><strong>Status: </strong><span class="label label-info">{$order.status}</span></h5>
                        
                    </div>
                    <div class="span4">
                        <h5><strong>Refund: </strong>{$order.refund}</h5>
                        <h5><strong>Refund Amount: </strong>{$order.refundamount}</h5>
                        <if condition="$order.status eq 'pending'"> 
                            <h5><strong>Due date: </strong>NULL</h5>
                        <else />
                            <h5><strong>Due date: </strong>{$order.invoicedate}</h5>
                        </if>
                        <h5><strong>Invoice date: </strong>{$order.invoicedate}</h5>
                    </div>
                    <div class="span4">
                        <h5><strong>Transaction ID: </strong>{$trans.transactionID}</h5>
                        <h5><strong>Paymethod: </strong>{$trans.paymethod}</h5>
                        <h5><strong>Settle Date: </strong>{$trans.paydate}</h5>
                        <h5><strong>Amount: </strong>{$trans.settleamount} HK$</h5>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center"><strong>Item</strong></td>
                            <td class="text-center"><strong>Price</strong></td>
                            <td class="text-center"><strong>Years</strong></td>
                            <td class="text-center"><strong>Totals</strong></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                        <foreach name="items" item="vo">
                        <tr>
                            <td class="text-center">{$vo.domainname}</td>
                            <td class="text-center">{$vo.price} HK$</td>
                            <td class="text-center">{$vo.years}</td>
                            <td class="text-center"><?php echo $vo['years']*$vo['price']; ?> </td>
                            <td class="text-center">
                                <a class="btn yellow easy-pie-chart-reload" href="{:U('Order/delitem?itemid='.$vo['id'].'&orderid='.$order['orderID'].'');}">Remove</a>
                            </td>
                        </tr>
                        </foreach>
                    </tbody>
                </table>
				
				<if condition="$order.status neq 'cancel'">
					<if condition="$order.status neq 'active'"> 
						<a href="{:U('Order/orderaccept?orderid='.$order['orderID'].'');}" class="btn red easy-pie-chart-reload">Accept</a>
					</if>
					<a href="{:U('Order/ordercancle?orderid='.$order['orderID'].'');}" class="btn blue easy-pie-chart-reload">Cancel</a>
				</if>
				<if condition="$order.refund eq 'N'">
					<a href="{:U('Order/orderRefund?orderid='.$order['orderID'].'');}" class="btn green easy-pie-chart-reload">Refund</a>
				</if>
				<a href="{:U('Order/orderdel?orderid='.$order['orderID'].'');}" class="btn yellow easy-pie-chart-reload">Remove</a>
                <a href="{:U('Transaction/transdetail?transid='.$order['transactionID'].'');}" class="btn yellow easy-pie-chart-reload">View Transaction</a>
            </div>
        </div>      
	</div>
    
</div>
<!--tab_1_2-->
<div class="tab-pane" id="tab_1_2">
	<div style="height: auto;" id="accordion1-1" class="accordion collapse">
        <div class="span12">
            <h4><i class="fa fa-cog" aria-hidden="true"></i> Items Managerment</h4>
            <foreach name="items" item="vo">
            <div class="span4">
                <form role="form" action="{:U('Order/itemedit?itemid='.$vo['id'].'&orderid='.$order['orderID'].'');}" method="post">  
                    <label class="control-label">Domain name</label>
                    <input name="domainname" type="text" id="domainname" placeholder="domainname" value="{$vo.domainname}" class="m-wrap span8" readonly/>
                    <label class="control-label">Price</label>
                    <input type="text" value="{$vo.price}" name="price" id="price" pattern="^[0-9]+([\.,]{0,1}[0-9]*)$" maxlength="15" minlength="1"   class="m-wrap span8" required>
                    <label class="control-label">Years</label>
                    <select class="form-control" name="years" required>
                        <option value="1">one years </option>
                        <option value="2" >two years </option> 
                        <option value="3">three years</option>
                        <option value="5">five years </option>
                        <option value="10">ten years </option>
                    </select>   
                    <div class="submit-btn">
                        <button type="submit" class="btn green">Save Changes</button>
                    </div>
                </form>
            </div>
            </foreach>
        </div>       
    </div>
</div>
<!-- tab_1_3 -->
<div class="tab-pane" id="tab_1_3">
	<div class="row-fluid">	
        <div class="span12">
           <h4><i class="fa fa-cog" aria-hidden="true"></i> Add New Items</h4>
           <div class="span4">
                <form role="form" action="{:U('Order/itemadd?&orderid='.$order['orderID'].'');}" method="post">  
                    <label class="control-label">Domain name</label>
                    <input name="domainname" type="text" id="domainname" placeholder="domainname" value="" class="m-wrap span8" required>
                    <label class="control-label">Years</label>
                    <select class="form-control" name="years" required>
                        <option value="1">one years </option>
                        <option value="2" >two years </option> 
                        <option value="3">three years</option>
                        <option value="5">five years </option>
                        <option value="10">ten years </option>
                    </select>   
                    <div class="submit-btn">
                        <button type="submit" class="btn green">Save Changes</button>
                    </div>
                </form>
            </div>
        </div>
        
        
        
	</div>
</div>

<!-- tab_1_3 -->
<!--end tab-pane-->
<!--end tab-pane-->

<!--end tab-pane-->
</div>
</div>
<!--END TABS-->
		
		
		
		
		
    </div>
</div>
<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
</block>
<block name="bottomjs">
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/validator.min.js"></script>
    <script>
        jQuery(document).ready(function () {

        // initiate layout and plugins

        App.init();

    });
        
    </script>
</block>
