<extend name="public/base" />
<block name="mainbody">
	<div class="container" style="margin-top:10px;margin-left:1%;margin-right:2%;">
		<div class="row">
			
			<div class="row" style="margin-left:5px;margin-right:5px;padding:10px; width:50%;background-color:white">	
				<h3><i class="fa fa-user" aria-hidden="true">Step1: send the verification email</i></h3>
				<form role="form" class="form-horizontal" action="{:U('Login/findpwdstep1');}" method="post">  
				<div class="form-group">  
					<label class="col-md-3 control-label" for="email">Email</label>  
					<div class="col-md-9">  
						<input class="form-control" name="email" type="email" id="email" placeholder="Email" value="" required/>  
					</div>  
				</div> 	  		  
				<div class="form-group">  
					<div class="col-md-offset-2 col-md-12">  
						<button type="submit" class="btn btn-primary  btn-large">  
							Send Email
						</button>  
					</div>  
				</div>  
				</form> 
			</div> 
		</div>
	</div>
</block>
<script type="text/javascript" charset="utf-8">  
	MyValidator.init();  
</script>