<extend name="public/base" />
<block name="mainbody">
	<div class="container" style="margin-top:20px">
	   <div class="row">
			<div class="col-md-6">
				<form action="{:U('Index/search');}" method="post" >
				<div class="input-group">
					<h3 style="color:white"><strong>&nbsp;&nbsp;GET YOUR DOMAIN NOW!</strong></h3>
				</div>
				<div class="input-group">
					<input name="dmname" type="text" class="form-control input-lg" placeholder="Search for...">
					<span class="input-group-btn">
						<button class="btn btn-lg btn-danger " type="submit">SEARCH</button>
					</span>
				</div><!-- /input-group -->
					<h3 style="color:white"><em><strong>&nbsp;&nbsp;.COM&nbsp;&nbsp;&nbsp;&nbsp;.HK&nbsp;&nbsp;&nbsp;&nbsp;.NET&nbsp;&nbsp;&nbsp;&nbsp;.CN</strong></em></h3>
				</form>
			</div>
			<div class="col-md-6"> 
			</div>
		</div>
	</div>
</block>
