<extend name="public/base" />
<block name="mainbody">
	<div class="container" style="background-color:white">
		<h3><i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart</h3>
		<if condition="$showcart eq 1">
		<table id="cart" class="table table-hover table-condensed">
			<thead>
				<tr>
					<th style="width:30%" class="text-left"><i class="fa fa-tag" aria-hidden="true"></i> Domain</th>
					<th style="width:20%" class="text-center">Price</th>
					<th style="width:20%" class="text-center">Years</th>
					<th ></th>
				</tr>
			</thead>
			<tbody>
				<foreach name="res" item="vo">
				<tr>
					<td data-th="Product">
						<div class="row">
							<div class="col-sm-1 hidden-xs"><h4 class="nomargin text-right"><i class="fa fa-tag" aria-hidden="true"></i></h4></div>
							<div class="col-sm-11">
								<h4 class="nomargin text-left text-danger">{$vo[0]}</h4>
							</div>
						</div>
					</td>
					<td data-th="Price" ><h4 class="nomargin text-center text-danger">{$vo[1]}</h4></td>
					<td data-th="Price" ><h4 class="nomargin text-center text-danger">{$vo[2]}</h4></td>
					<td class="actions" data-th="">
						<h4>
							<a class="btn btn-info btn-sm"><i class="fa fa-refresh"></i></a>
							<a class="btn btn-danger btn-sm" href="{:U('Index/delshoppingcart?dm='.$vo[0].'&price='.$vo[1].'&years='.$vo[2].'');}"><i class="fa fa-trash-o"></i></a>	
						</h4>
					</td>
				</tr>
				</foreach>
				
			</tbody>
			<tfoot>
				<tr>
					<td><a href="{:U('Index/index')}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></td>
					<td><h4 class="text-danger"><strong>Total {$total}HK$</strong></h4></td>
					<td><a href="{:U('Order/index')}" class="btn btn-success btn-block">Checkout <i class="fa fa-angle-right"></i></a></td>
					<td></td>
				</tr>
			</tfoot>
		</table>
		<else /> 
			<h3 class="nomargin text-center text-danger"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>The shopping cart is empty!</h3>
			<h3 class="nomargin text-center"><a href="{:U('Index/index')}" class="btn btn-warning"><i class="fa fa-angle-left"></i> Continue Shopping</a></h3>
		</if>
	</div>
</block>