<extend name="public/base" />
<block name="mainbody">
	<div class="container" style="background-color:white">
		<div class="row">
			<div class="col-xs-12">
				<h4 class="text-success"><i class="fa fa-bell-o" aria-hidden="true"></i> Your order has been completed and thank you for shopping! The administrator will verify your payment as soon as possible
					<br>
If you settle the payment by Bank Transfer / Cheque / E-Banking, please send the payment slip to payment@jhcl.hk for verification.
				</h4>
			</div>
			<div class="col-xs-12">
				<div class="col-md-4"></div>
				<div class="col-md-4"><a href="{:U('Index/index')}" class="btn btn-success btn-lg btn-block"> <i class="fa fa-angle-left"></i> Return</a></div>
				<div class="col-md-4"></div>
			</div>
			<div class="col-xs-12">
				<div class="invoice-title">
					<h2><i class="fa fa-shopping-bag" aria-hidden="true"></i> Order # {$order.orderID}</h2>
				</div>
				<hr>
				<div class="row">
					<div class="col-xs-6">
						<address>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Order ID</strong>:</div><div class="col-xs-7">{$order.orderID}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Order Issue date</strong>: </div><div class="col-xs-7">{$order.issuedate}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Username</strong>: </div><div class="col-xs-7">{$order.username}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Status</strong>: </div><div class="col-xs-7">{$order.status}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Refund</strong>: </div><div class="col-xs-7">No</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Invoice date</strong>: </div><div class="col-xs-7">{$order.invoicedate}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Due date</strong>: </div><div class="col-xs-7">{$order.duedate}</div></div>
						</address>
					</div>
					<div class="col-xs-6">
						<address>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Transaction ID</strong>:</div><div class="col-xs-7">{$trans.transactionID}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Client Name</strong>: </div><div class="col-xs-7">{$trans.clientname}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Card Number/Account Number</strong>: </div><div class="col-xs-7">{$trans.accountnumber}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Invoice ID</strong>: </div><div class="col-xs-7">{$trans.invoiceID}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Payment Date</strong>: </div><div class="col-xs-7">{$trans.paydate}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Payment Method</strong>: </div><div class="col-xs-7">{$trans.paymethod}</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Settle Amount</strong>: </div><div class="col-xs-7">{$trans.settleamount} HK$</div></div>
						<div class="col-xs-12"><div class="col-xs-5 text-right"><strong>Description</strong>: </div><div class="col-xs-7">{$trans.description}</div></div>
						</address>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title"><strong>Order summary</strong></h3>
					</div>
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table table-condensed">
								<thead>
									<tr>
										<td class="text-center"><strong>Item</strong></td>
										<td class="text-center"><strong>Price</strong></td>
										<td class="text-center"><strong>Years</strong></td>
										<td class="text-center"><strong>Totals</strong></td>
									</tr>
								</thead>
								<tbody>
									<!-- foreach ($order->lineItems as $line) or some such thing here -->
									<foreach name="items" item="vo">
									<tr>
										<td class="text-center">{$vo.domainname}</td>
										<td class="text-center">{$vo.price} HK$</td>
										<td class="text-center">{$vo.years}</td>
										<td class="text-center"><?php echo $vo['years']*$vo['price']; ?> </td>
									</tr>
									</foreach>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</block>