<extend name="public/back" />
<block name="siderbarmenu">
<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li class="start">
        <a href="{:U('Client/index');}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="title">Welcome</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="title">My Infomation</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('Client/myprofile');}">
                    My Profile
                </a>
            </li>
            <li>
                <a href="{:U('Client/mywallet');}">
                    My Wallet</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="{:U('Client/orderlist');}">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span class="title">My Orders</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="active">
        <a href="{:U('Client/domainlist');}">
            <i class="fa fa-database" aria-hidden="true"></i>
            <span class="title">My Domains</span>
            <span class="selected"></span>
        </a>
    </li>
    </ul>
</div>
</block>
<block name="container">
<!-- BEGIN PAGE -->
<div class="page-content">
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here will be a configuration form</p>
    </div>
</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            My Domains
            <small> Domain Manager</small>
        </h3>
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="{:U('Client/index');}">Home</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li>
                <a href="{:U('Client/domainlist');}">My Domains</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li><a href="#">Domain Detail</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">

		<!--BEGIN TABS-->
<div class="tabbable tabbable-custom tabbable-full-width">
<ul class="nav nav-tabs">   
    <li class="active"><a href="#tab_1_1" data-toggle="tab">Domain Detail</a></li>
	<li><a href="#tab_1_2" data-toggle="tab">Registration Profile Update </a></li>
	<li><a href="#tab_1_3" data-toggle="tab">Domain tools </a></li>
	<li><a href="#tab_1_4" data-toggle="tab">Auto Renew Setting </a></li>
	<li><a href="#tab_1_5" data-toggle="tab">Renew Domain</a></li>
</ul>
<div class="tab-content">

<!--end tab-pane-->
<div class="tab-pane row-fluid active" id="tab_1_1">
    <div class="span12">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="icon-coffee"></i>Domain Detail</div>
            </div>
            <div class="portlet-body">
				<div class = "row-fluid">
					<div class="span12">
						<div class="span6">
							<h5><strong>Domain name :</strong> {$domain.domainname}</h5>
							<h5><strong>Username :</strong> {$domain.username}</h5>
							<h5><strong>Registrar :</strong><span class="label label-info"> {$domain.registrar}</span></h5>
							<h5><strong>Registrar date :</strong> {$domain.registrationdate}</h5>

						</div>
						<div class="span6">
							<h5><strong>Expiry date:</strong> {$domain.expirydate}</h5>
							<h5><strong>Next due date:</strong> {$domain.nextduedate}</h5>
							<h5><strong>Status:</strong> {$domain.status}</h5>
							<h5><strong>Auto Renew ON:</strong> {$domain.autorenew}</h5>
						</div>
					</div>
					<a class="btn yellow easy-pie-chart-reload" href="{:U('Client/orderdetail?orderid='.$orderid.'');}">
					View Order		
					</a>
				</div>
				
            </div>
        </div> 
		<div class="portlet box green">
            <div class="portlet-title">
                <div class="caption"><i class="icon-coffee"></i>Domain Whois</div>
            </div>
            <div class="portlet-body">
				<div class = "row-fluid">
					<div class="span12">
						{$whois}
					</div>	
				</div>
				
            </div>
        </div>
	</div>
    
</div>
<!--tab_1_2-->
<!-- tab_1_2 -->
<div class="tab-pane" id="tab_1_2">
	<div class="row-fluid">	
        <div class="span12">
			<h4><i class="fa fa-cog" aria-hidden="true"></i> Domain Registration Profile</h4>
			<form role="form" action="{:U('Client/domainprofileupdate?domainid='.$domainid.'');}" method="post">  
				<label class="control-label">First Name</label>
				<input class="m-wrap span8"  name="firstname" type="text" id="firstname" placeholder="first name" value="{$domain.firstname}" required/>  
				<label>Last Name</label>
				<input class="m-wrap span8" name="lastname" type="text" id="lastname" placeholder="last name" value="{$domain.lastname}" required/> 
				<label>Company Name</label>
				<input class="m-wrap span8" name="company" type="text" id="company" placeholder="Company" value="{$domain.company}" /> 
				<label>Job Title</label>
				<input class="m-wrap span8" name="jobtitle" type="text" id="jobtitle" placeholder="Job title" value="{$domain.jobtitle}" /> 
				<label>Email</label>
				<input class="m-wrap span8" name="email" type="email" id="email" placeholder="Email" value="{$domain.email}" required/> 
				<label>City</label>
				<input  name="city" type="text" id="city" placeholder="City" value="{$domain.city}" required/> 
				<label>State</label>
				<input class="m-wrap span8" name="state" type="text" id="state" placeholder="State" value="{$domain.state}" required/> 
				<label>Postcode</label>
				<input class="m-wrap span8" type="number" value="{$domain.postcode}" name="postcode" id="postcode" placeholder="Postcode" required> 
				<label>Country</label>
				<input class="m-wrap span8" name="country" type="text" id="country" placeholder="Country" value="{$domain.country}" required/>
				<label>Phone</label>
				<input class="m-wrap span8" type="tel" value="{$domain.phone}" name="phone" id="phone" placeholder="Phone" required> 
				<label>FAX</label>
				<input class="m-wrap span8" type="tel" value="{$domain.fax}" name="fax" id="fax" placeholder="Fax" required> 
				<label>Address1</label>
				<input class="m-wrap span8" name="address1" type="text" id="address1" placeholder="Address 1" value="{$domain.address1}" required/> 
				<label>Address2</label>
				<input class="m-wrap span8" name="address2" type="text" id="address2" placeholder="Address 2" value="{$domain.address2}" required/>
				<label>NameServer1(require)</label>
				<input class="m-wrap span8" name="ns1" type="text" id="ns1" placeholder="NameServer" value="{$domain.ns1}" required/>
				<label>NameServer2(optional)</label>
				<input class="m-wrap span8" name="ns2" type="text" id="ns2" placeholder="NameServer" value="{$domain.ns2}" required/>
				<label>NameServer3(optional)</label>
				<input class="m-wrap span8" name="ns3" type="text" id="ns3" placeholder="NameServer" value="{$domain.ns3}" required/>
				<label>NameServer4(optional)</label>
				<input class="m-wrap span8" name="ns4" type="text" id="ns4" placeholder="NameServer" value="{$domain.ns4}" required/>
				<div class="submit-btn">
					<button type="submit" class="btn green">Save Changes</button>
				</div>
			</form>	
        </div>     
	</div>
</div>

<!-- tab_1_3 -->
<div class="tab-pane" id="tab_1_3">
	<div class="row-fluid">	
        <div class="span12">
			<h4>Domain tools</h4>
			<form role="form" action="{:U('Client/domaintools?domainid='.$domainid.'');}" method="post"> 
				<label class="control-label">Email forwarding</label>
				<input name="mainforward" type="email" id="mainforward" placeholder="mainforward" value="{$domain.mainforward}" class="m-wrap span8" />
				<label class="control-label">DNS</label>
				<input name="DNSmgr" type="text" id="DNSmgr" placeholder="DNS" value = "{$domain.DNSmgr}" class="m-wrap span8" />
				<label class="control-label">ID protect</label>
				<select class="m-wrap span8" name="IDprotect" required>
					<option value= "Y">Y</option>
					<option value= "N">N</option>
				</select>
				<div class="submit-btn">
					<button type="submit" class="btn green">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="tab-pane" id="tab_1_3">
	<div class="row-fluid">	
        <div class="span12">
			<h4>Domain tools</h4>
			<form role="form" action="{:U('Client/domaintools?domainid='.$domainid.'');}" method="post"> 
				<label class="control-label">Email forwarding</label>
				<input name="mainforward" type="email" id="mainforward" placeholder="mainforward" value="{$domain.mainforward}" class="m-wrap span8" />
				<label class="control-label">DNS</label>
				<input name="DNSmgr" type="text" id="DNSmgr" placeholder="DNS" value = "{$domain.DNSmgr}" class="m-wrap span8" />
				<label class="control-label">ID protect</label>
				<select class="m-wrap span8" name="IDprotect" required>
					<option value= "Y">Y</option>
					<option value= "N">N</option>
				</select>
				<div class="submit-btn">
					<button type="submit" class="btn green">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="tab-pane" id="tab_1_4">
	<div class="row-fluid">	
        <div class="span12">
			<h4>Auto renew setting</h4>
			<form role="form" action="{:U('Client/domainautorenew?domainid='.$domainid.'');}" method="post"> 
				<label class="control-label">Auto Renew ON</label>
				<select class="m-wrap span8" name="autorenew" required>
					<option value= "N">N</option>
					<option value= "Y">Y</option>
				</select>
				<div class="submit-btn">
					<button type="submit" class="btn green">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="tab-pane" id="tab_1_5">
	<div class="row-fluid">	
        <div class="span12">
			<h4>Auto renew setting</h4>
			<form role="form" action="{:U('Client/domainrenew?domainid='.$domainid.'');}" method="post"> 
				<label class="control-label">Renew Years</label>
				<select class="form-control" name="years" required>
					<option value="1">one years </option>
				</select>
                <label>Select payment method</label>
                <select class="form-control" name="accounttype" required>
                    <foreach name="payments" item="vo">
                        <option value= "{$vo.method}">{$vo.method}</option>
                    </foreach>
                </select>
                <h5>If you use Credit Card and Paypal,you must input below infomation</h5>
                    <label >Card Number/Account Number</label>
                    <input type="text" value="" name="accountnumber" id="accountnumber"  placeholder="Amount Number" class="form-control" >
                    <label >Client name</label>
                    <input type="text" value="" name="clientname" id="accountnumber"  placeholder="Client's real name" class="form-control" >
                <label>One-Time Password</label>
                <input type="password" value="" name="onepassword" id="onepassword"  placeholder="onepassword" class="form-control"> 
				<div class="submit-btn">
					<button type="submit" class="btn green">Save Changes</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--end tab-pane-->
<!--end tab-pane-->
<div class="tab-pane row-fluid" id="tab_1_6">
<div class="row-fluid">
<div class="span12">
<div class="span9">
</div>
</div>
<!--end span9-->
</div>
</div>
</div>
<!--end tab-pane-->
</div>
</div>
<!--END TABS-->
		
		
		
		
		
    </div>
</div>
<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
</block>
<block name="bottomjs">
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/validator.min.js"></script>
    <script>
        jQuery(document).ready(function () {

        // initiate layout and plugins

        App.init();

    });
        
    </script>
</block>
