<extend name="public/back" />
<block name="siderbarmenu">
<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
    <li>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <div class="sidebar-toggler hidden-phone"></div>
        <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
    </li>
    <li>
        <!-- BEGIN RESPONSIVE QUICK SEARCH FORM -->
        <form class="sidebar-search">
            <div class="input-box">
                <a href="javascript:;" class="remove"></a>
                <input type="text" placeholder="Search..."/>
                <input type="button" class="submit" value=" "/>
            </div>
        </form>
        <!-- END RESPONSIVE QUICK SEARCH FORM -->
    </li>
    <li class="start">
        <a href="{:U('Client/index');}">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="title">Welcome</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a href="javascript:;">
            <i class="fa fa-user-circle" aria-hidden="true"></i>
            <span class="title">My Infomation</span>
            <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="{:U('Client/myprofile');}">
                    My Profile
                </a>
            </li>
            <li>
                <a href="{:U('Client/mywallet');}">
                    My Wallet</a>
            </li>
        </ul>
    </li>
    <li class="active">
        <a href="{:U('Client/orderlist');}">
            <i class="fa fa-shopping-bag" aria-hidden="true"></i>
            <span class="title">My Orders</span>
            <span class="selected"></span>
        </a>
    </li>
    <li>
        <a href="{:U('Client/domainlist');}">
            <i class="fa fa-database" aria-hidden="true"></i>
            <span class="title">My Domains</span>
            <span class="selected"></span>
        </a>
    </li>
    </ul>
</div>
</block>
<block name="container">
<!-- BEGIN PAGE -->
<div class="page-content">
<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<div id="portlet-config" class="modal hide">
    <div class="modal-header">
        <button data-dismiss="modal" class="close" type="button"></button>
        <h3>portlet Settings</h3>
    </div>
    <div class="modal-body">
        <p>Here will be a configuration form</p>
    </div>
</div>
<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
<!-- BEGIN PAGE CONTAINER-->
<div class="container-fluid">
<!-- BEGIN PAGE HEADER-->
<div class="row-fluid">
    <div class="span12">
        <h3 class="page-title">
            My orders
            <small> My orders</small>
        </h3>
        <ul class="breadcrumb">
            <li>
				<i class="fa fa-home" aria-hidden="true"></i>
				<a href="{:U('Client/index');}">Home</a>
				<i class="fa fa-angle-right" aria-hidden="true"></i>
			</li>
            <li>
                <a href="#">My Orders</a>
                <i class="fa fa-angle-right" aria-hidden="true"></i>
            </li>
            <li><a href="{:U('Client/orderlist');}">Order List</a><i class="fa fa-angle-right" aria-hidden="true"></i></li>
			<li><a href="{:U('Client/orderdetail');}">Order Detail</a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN PAGE CONTENT-->
<div class="row-fluid">
    <div class="span12">

		<!--BEGIN TABS-->
<div class="tabbable tabbable-custom tabbable-full-width">
<ul class="nav nav-tabs">
    
    <li class="active"><a href="#tab_1_1" data-toggle="tab">Order Detail</a></li>
</ul>
<div class="tab-content">

<!--end tab-pane-->
<div class="tab-pane row-fluid active" id="tab_1_1">
    <div class="span12">
        <div class="portlet box yellow">
            <div class="portlet-title">
                <div class="caption"><i class="icon-coffee"></i>Order</div>
            </div>
            <div class="portlet-body">
                <div class="span12">
                    <div class="span4">
                        <h5><strong>OrderID: </strong>{$order.orderID}</h5>
                        <h5><strong>Issue date: </strong>{$order.issuedate}</h5>
                        <h5><strong>Status: </strong><span class="label label-info">{$order.status}</span></h5>
                        <h5><strong>Description: </strong><span class="label label-warning">{$order.description}</span></h5>
                    </div>
                    <div class="span4">
                        <h5><strong>Refund: </strong>{$order.refund}</h5>
                        <h5><strong>Refund Amount: </strong>{$order.refundamount}</h5>
                        <if condition="$order.status eq 'pending'"> 
                            <h5><strong>Due date: </strong>NULL</h5>
                        <else />
                            <h5><strong>Due date: </strong>{$order.invoicedate}</h5>
                        </if>
                        <h5><strong>Invoice date: </strong>{$order.invoicedate}</h5>
                    </div>
                    <div class="span4">
                        <h5><strong>Transaction ID: </strong>{$trans.transactionID}</h5>
                        <h5><strong>Paymethod: </strong>{$trans.paymethod}</h5>
                        <h5><strong>Settle Date: </strong>{$trans.paydate}</h5>
                        <h5><strong>Amount: </strong>{$trans.settleamount} HK$</h5>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td class="text-center"><strong>Item</strong></td>
                            <td class="text-center"><strong>Price</strong></td>
                            <td class="text-center"><strong>Years</strong></td>
                            <td class="text-center"><strong>Totals</strong></td>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- foreach ($order->lineItems as $line) or some such thing here -->
                        <foreach name="items" item="vo">
                        <tr>
                            <td class="text-center">{$vo.domainname}</td>
                            <td class="text-center">{$vo.price} HK$</td>
                            <td class="text-center">{$vo.years}</td>
                            <td class="text-center"><?php echo $vo['years']*$vo['price']; ?> </td>
                            <!--<td class="text-center">
                                <a class="btn yellow easy-pie-chart-reload" href="{:U('Order/delitem?itemid='.$vo['id'].'&orderid='.$order['orderID'].'');}">Remove</a>
                            </td>-->
                        </tr>
                        </foreach>
                    </tbody>
                </table>
            </div>
        </div>      
	</div>
    
</div>
<!--tab_1_2-->

<!-- tab_1_3 -->


<!-- tab_1_3 -->
<!--end tab-pane-->
<!--end tab-pane-->

<!--end tab-pane-->
</div>
</div>
<!--END TABS-->
		
		
		
		
		
    </div>
</div>
<!-- END PAGE CONTENT-->
</div>
<!-- END PAGE CONTAINER-->
</div>
<!-- END PAGE -->
</block>
<block name="bottomjs">
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/bootstrap-fileupload.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/metronic/media/js/validator.min.js"></script>
    <script>
        jQuery(document).ready(function () {

        // initiate layout and plugins

        App.init();

    });
        
    </script>
</block>
